.unLogginedBar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 45px;
}
.unLogginedBar span{
    position: absolute;
    font-size: 13px;
    right: 72px;
    top: 3px;
}
.unLogginedBar button{
    margin-top: 28px;
    margin-right: 10px;
    width: 70px;
}