.myPostBackground{
    position: absolute;
    top: 0;
    left: -510px;
    color: black;
    width: 500px;
    height: 100%;
    border: 1px solid #AAB3FF;
 
    background: #ffffff;
   
    box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.3);
    border-radius: 16px;
    overflow-y: auto;
}
.myPostTitle{
  position: absolute;
  left: 0;
  margin-left: 25px;
}
.myPostTagContainer{
  position: absolute;
  left: 0;
  margin-top: 90px;
  margin-left: 25px;
}
.myPostDetailContainer{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myPostScrabBox{
    position: absolute;
    margin-top: 120px;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 90%;
    height: 400px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #AAB3FF;
    box-shadow: 0px 0px 10px 3px rgba(170, 179, 255, 0.3);
    border-radius: 16px;
    overflow-x:auto;
    overflow-y: auto;
}
.PostScrabBox{
    width: 100%;
    height: 100%;
}
.myPostDetailBox{
    position: absolute;
    margin-top: 550px;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 90%;
    height: 400px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #AAB3FF;
    box-shadow: 0px 0px 10px 3px rgba(170, 179, 255, 0.3);
    border-radius: 16px;
}
.myPostHeader{
    position: absolute;
    margin-top: 760px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.myPostScrabBox div, .myPostScrabBox pre, .myPostScrabBox td, .myPostScrabBox tr, .myPostScrabBox tbody, .myPostScrabBox code{
    max-width: 100%; 
    box-sizing: border-box; 
    font-size: 15px;
    font-weight: 0;
  }
  .myPostScrabBox h1{
    font-size: 18px;
    font-weight: bold;
  }
  .myPostScrabBox h2 , .myPostScrabBox a, .myPostScrabBox li, .myPostScrabBox button, .myPostScrabBox p, .myPostScrabBox span{
    font-size: 12px;
  }
  .myPostScrabBox img, .myPostScrabBox svg{
    width: 100%;
  }
  .saveMemoBtn{
    position: absolute;
bottom:150px;
right: 160px;

width: 55px;
height: 15px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
background: #AAB3FF;
box-shadow: 1px 2px 4px rgba(123, 71, 99, 0.2);
border-radius: 30px;
  }
  .saveMemoBtn:hover{
    background: #bbc1f5;
  }
  .updateBtn{
/* Rectangle 77 */
position: absolute;
bottom:150px;
right: 100px;

width: 55px;
height: 15px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
background: #78DBB7;
box-shadow: 1px 2px 4px rgba(123, 71, 99, 0.2);
border-radius: 30px;
  }
.updateBtn:hover{
  background: #77a795;
}
.deleteBtn{
  /* Rectangle 76 */

position: absolute;
bottom:150px;
right: 40px;
width: 55px;
height: 15px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
/* N 1 */
background: #FFB3B3;
box-shadow: 1px 2px 4px rgba(123, 71, 99, 0.2);
border-radius: 30px;

}
.deleteBtn:hover{
  background: #d3aaaa;
}
#myPostEditor{
  width: 100%;
  height: 100%;
  text-align: left;
  overflow-y: auto;
  z-index: 1;
}
#myPostEditor div, #postEditor img{
  width: 100%;
}
.likeBtn{
  position: absolute;
  top: 75px;
  right: 30px;
  width: 25px;
  display: flex;
  justify-content: center;
  height: 25px;
}
.likeBtn img{
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.likeValue{
  position: absolute;
  top: 77.5px;
  right: 65px;
  font-size: 20px;
}
.postWho{
  position: relative;
  width: 100%;
  top: 70px;
  display: flex;
  left: 28px;
  gap: 5px;
  font-size: 12px;
}


