.postContainer{
    position: relative;
    top: 50px;
    width: 100%;
    height: 86%;
    overflow: hidden;
    overflow-y: auto;
}
.collectionMenu{
    position: fixed;    
    width: 99%;
    height: 25px;
    background: #FFFFFF;
    border-top: 1px solid #AAB3FF;
    border-bottom: 1px solid #AAB3FF;
    z-index: 999;
}
.collection1img{
    position: absolute;
    top: 5px;
    left: 245px;
    width: 16px;
    height: 15px;
    border: 0.5px solid #AAB3FF;
    box-shadow: 0px 0px 7px 3px rgba(170, 179, 255, 0.3);
    border-radius: 2px;

}
.collection2img{
    position: absolute;
    top: 5.5px;
    left: 265px;
    width: 16px;
    height: 15px;
    box-shadow: 0px 0px 7px 3px rgba(170, 179, 255, 0.3);
}
.collect1column{
    margin-top: 45px;
    width: 100%;
    height: 100%;
}
.collect2coloumn{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,0.0001fr);
    grid-template-rows: repeat(2,0.001fr);
}
.previewBox{
    margin-left: 8px;
    margin-top: 15px;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 95%;
    height: 207px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #AAB3FF;
    box-shadow: 0px 0px 10px 3px rgba(170, 179, 255, 0.3);
    border-radius: 16px;
}
.hello{
position: absolute;
margin-top: -100px; 
width: 261px;
height: 105px;

border-radius: 16px 16px 0px 0px;

}
.previewBox h3{
    /* 글1  */

position: absolute;
margin-top:100px;


font-family: 'Acme';
font-style: normal;
font-weight: 400;
font-size: 15px;

line-height: 16px;
color: #B9B3B3;
}
.recommendIcon{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-left: 230px;
    width: 22.5px;
    height: 22.5px;
    background: url(../images//recommend.png);
    background-size: contain;
    border: none;
}