.editor-menu{
  position: fixed;
  top: 150px;
  z-index: 9999;
  
}
button {
  background: transparent;
  border: 1px solid #AAB3FF;
  color: #333; /* Text color */
  cursor: pointer;
  width: 30px;
  height: 20px;
  border: none;

}
button img{
  
  width: 70%;
  height: 70%;
}

button:hover {
  background-color: #cccccc;
  color: white;
}

