.tag-container {
    position: absolute;
    top: 110px;
    width: 100%;
    height: 30px;
    display: flex;
}
.tag-container input{
    margin-left: 5px;
    width: 90px;
    height: 20px;
    font-size: 12px;
    border: none;
    outline: none;
}
.tag{

    width: 150px;
    height: 15px;;
    box-sizing: border-box;
  font-size: 11.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  /* main color */
  background: #AAB3FF;
  margin-right: 5px ;
  margin-left: 2px;
  /* main color */
  border: 1px solid #AAB3FF;
  border-radius: 10px;
}